@media screen and (max-width: 600px) {
    .row-1, .row-2 {
        flex-direction: column;
    }
    main {
        flex-direction: column;
        margin-top: 0;
    }
    .col-2 {
        width: 25%;
    }
    .small {
        transform: scale(0.7);
    }
    footer {
        width: 90%;
        position: fixed;
        bottom: 0;
    }  
    i {
        padding: 5px;
    }  
}