* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	background: #7F00FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Poppins', sans-serif;
	color: #fff;
}
#wrapper {
	width: 90%;
	margin: 0 auto;
}
header {
	margin-top: 20px;
}
nav {
	padding: 20px;
}
.logo {
	width: 20%;
	height: 20%;
}
main {
	margin-top: 200px;
}
.col-1 {
	width: 25%;
}
.col-2 {
	width: 70%;
}
.text {
	text-align: center;
}
footer {
	margin-top: 20px;
	padding: 10px;
	background-color: #00000086;	
}
a {
	text-decoration: none;
	color: #fff;
	transition: all 0.5s;
}
i {
	padding: 10px;
}
i:hover {
	font-size: x-large;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0, 0.6);
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-name: fadeIn;
	animation-duration: 1s
}
.modal-content {
	position: fixed;
	left: 50%;
	top: 50%;
	background-color: #0000ff;
	width: 25%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 1s;
	animation-name: slideIn;
	animation-duration: 1s
}
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.modal-body {
	padding: 16px;
}
/* Add Animation */
  
  @-webkit-keyframes slideIn {
	from {
	  
	  opacity: 0
	}
	to {
	  
	  opacity: 1
	}
  }
  
  @keyframes slideIn {
	from {
	  
	  opacity: 0
	}
	to {
	  
	  opacity: 1
	}
  }
  
  @-webkit-keyframes fadeIn {
	from {
	  opacity: 0
	}
	to {
	  opacity: 1
	}
  }
  
  @keyframes fadeIn {
	from {
	  opacity: 0
	}
	to {
	  opacity: 1
	}
  }